body {
  background-color: rgb(181, 188, 188);
}

header {
  width: 100%;
  position: fixed;
  z-index: 2;
}


.hautNav {
  display: flex;
  flex-direction: row;
  // width: 100%;
  color: #f4f4f4;

  .lienReseaux {
    width: 10%;
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    i {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 15px;
    }

  }

  .vide {
    width: 25%;
  }

  .lienPersoNav {
    font-weight: bold;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img {
      margin-top: 7px;
    }
  }

}

.basNav {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  // width: 100%;

  .logoNav {
    width: 10%;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;

    img {

      width: 80px;
    }
  }

  .navGauche {
    width: 80%;
    display: flex;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      list-style: none;

      li {
        margin: 0 10px;
        display: inline-flex;

        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          font-weight: bold;
        }
      }

      .actuNav {
        color: #db3e0e;
      }

      .passNav {
        color: #0da249;
      }
    }
  }

  .navDroite {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: center;

    .ti-search {
      color: #0da249;
      font-size: 30px;
    }
  }
}
