.aDecouvrir {
    display: flex;
    flex-direction: column;
}

.imagesADecouvrir {
    display: flex;

}

.logo5ADecouvrir {
    width: 4%;
    margin-left: 2%;
}

.logoADecouvrir {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebookADecouvrir {
    text-align: center;
}