.sidebar {
    display: none;
    width: 200%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar.active {
    left: 0;
  }


.ti-menu {
    cursor: pointer;
    display: none;
    padding-left: 5%;
    align-self: center;
    font-size: 30px;
    color: #231f20;
}



@media (max-width: 1200px) {

    .ti-menu {
        display: flex;
        width: 25%;
    }

}