//Couleur primaire
$color-primary-blue: #003399;
$color-primary-darkblue: #00246b;
$color-primary-yellow: #efd51f;
$color-primary-grey: #a7a9ac;

//Couleur secondaire ( route )
$color-secondary-oliveGreen: #c0c923;
$color-secondary-blueCloud: #aec7df;
$color-secondary-blueSky: #07a1e2;
$color-secondary-yellowBright: #fbf312;
$color-secondary-litePink: #e5b9d5;
//Couleur eurovélo 5
$color-secondary-pink: #c60086;
//Couleur eurovélo 5
$color-secondary-green: #93bf3c;
$color-secondary-brown: #ab722c;
$color-secondary-lightPurple: #af75b1;
$color-secondary-yellowDuck: #efd51f;
$color-secondary-orange: #dea625;
$color-secondary-greenGrass: #2f9f48;
$color-secondary-red: #ca4c39;
$color-secondary-aquaBlue: #5bc4bf;
$color-secondary-darkBlue: #313c99;
$color-secondary-brightGreen: #dcd431;
$color-secondary-rustyRed: #8f3036;
//Autre couleur
$color-background-blueReflex: #003399;
$color-star-yellow: #FFCC00;
