.blocAvis {
  h1 {
    @include font-bold;
    font-size: clamp(1rem, 5vw, 3rem);
    text-align: center;
    padding: 30px;
  }

  .notesAvis {
    display: flex;
    gap: 20px;
  }

  .avisHtml {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 70px;

    article {
      background-color: #bebebe;
      padding: 20px;
      width: 80%;
      margin-bottom: 50px;
      line-height: 30px;
      border-radius: 10px;

      .avisComment {
        line-height: 20px;
      }

      .avisNom {
        font-size: 20px;
      }

      .notes {
        text-align: center;
        line-height: 1.15rem;
      }

      .column-avis {
        display: flex;
        gap: 10px;
        justify-content: center;
        padding-top: 5px;
      }

      .notesAvis {
        display: flex;
        flex-direction: column;
      }

      .avisType {
        background-color: $color-secondary-orange;
        color: #f1f1f1;
        width: fit-content;
        padding: 0 10px;
        @include font-light;
        font-size: 13px;
      }

      .moyenne {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        img {
          width: 60%;
        }
      }

      .avisParcours {
        @include font-bold;
      }

      .answer-read {
        display: flex;
        justify-content: space-between;

        .avisLire {
          color: $color-secondary-greenGrass;
        }
      }
    }
  }

  @media all and (min-width: 320px) and (max-width: 768px) {

    .avisHtml article {
      width: 95%;
    }
  }

}