.blocAvis {
  h1 {
    @include font-bold;
    font-size: clamp(1rem, 5vw, 3rem);
    text-align: center;
    padding: 30px;
  }

  .notesAvis {
    display: flex;
    gap: 20px;
  }

  .avisHtml {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 70px;

    article {
      background-color: #bebebe;
      padding: 20px;
      margin-bottom: 50px;
      line-height: 30px;
      border-radius: 10px;

      span {
        @include font-bold
      }

      .avisComment {
        line-height: 20px;
      }

    }
  }
}
