html {
    @include font-light;
}
h1,
h2,
h3,
h4,
.boldEnd {
    @include font-bold;
}

body {
    margin: 0;
}
.espacehdp {
    margin: 100px;
}

h1 {
    color: #000000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

section  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;


    .aligntoptext {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        width: 40%;
    }
    
    p {
        text-align: justify;
        font-size: 18px;
        
    }
    
    button {
        margin: 30px;
        border: 2px solid;
        padding: 10px 10px 10px 10px;
        //Mettre le texte et les bordures en bleu ciel 
        font-weight: bold;
        color: $color-secondary-aquaBlue;
        
    }
}

article .milieuPage {
    display: flex;
    justify-content: center;
    img {
        max-width: 100%;
        height: auto;
       margin-right: 300px;
        
    }
.traitorange {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 30px;
    height: 4px;
    margin: 0 10px;
    background-color: $color-secondary-orange;
    z-index: 1;
   
}
 .titreListe {
    position: absolute;
    left: 68%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    height: 40%;
        h2 {
            padding: 10px;
            background-color: white;
        }
        // Penser à remettre les points devant la liste ul
li {
    margin-bottom: 35px;
    margin-left: 45px;
}
    }
}


.basDePage {
    margin-left: 740px;
        text-align: justify;
        h3 {
            font-size: 1.5em;
            
        }
        .espaceTitreBas {
            margin: 20px;
        }
}


a {
    color: $color-secondary-aquaBlue;
}


aside {
    display: flex;
    flex-wrap: wrap;
    margin-left: 740px;
    gap: 30px;
    width: 40%;
    h4 {
        font-size: 1.5em;
        margin-top: 20px;
    }
       ol {
        margin-bottom: 10px;
       }

}