html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

#map {
  width: 60%;
  height: 700px;
  margin-bottom: 10px;
  position: relative;
  margin: auto;
  z-index: 1;
}
