.slider {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
}

.backdropaccueil {
  display: flex;
  width: 700%;

  .slider-hautswipe {
    border: 1px solid #000000;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #ffffff;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}

.slide_1 {
  background-image: url("/assets/images/slider/photo-slider1.jpg");
  scroll-snap-align: start;
}

.slide_2 {
  background-image: url("/assets/images/slider/photo-slider2.jpg");
  scroll-snap-align: start;
}

.slide_3 {
  background-image: url("/assets/images/slider/photo-slider3.jpg");
  scroll-snap-align: start;
}

.slide_4 {
  background-image: url("/assets/images/slider/photo-slider4.jpg");
  scroll-snap-align: start;
}

.slide_5 {
  background-image: url("/assets/images/slider/photo-slider5.jpg");
  scroll-snap-align: start;
}

.slide_6 {
  background-image: url("/assets/images/slider/photo-slider6.jpg");
  scroll-snap-align: start;
}

.slide_7 {
  background-image: url("/assets/images/slider/photo-slider7.jpg");
  scroll-snap-align: start;
}
