.main-contact {
  padding-top: 200px;
  margin-left: 25%;
  margin-RIGHT: 25%;
  font-size: x-large;


  .PARAGRAPHEcONTACT {
    margin-top: 20px;
  }

  .titreContact {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 60px
    }
  }

  .marge-paragraphe {
    margin-bottom: 60px;
  }

  .formu input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-bottom: 35px;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.13);

  }

  textarea {
    width: 100%;
    height: 250px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    resize: vertical;
    background-color: rgba(128, 128, 128, 0.13);

  }

  span {
    color: rgb(214, 141, 4);
  }

  .caseAcocher {
    display: flex;

    input {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      margin-bottom: 40px;
    }

    p {
      margin-top: 0;
    }

  }

  .boutonEnvoyerContact {
    display: flex;
    justify-content: flex-end;
  }

  .buttonContact {
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    font-size: x-large;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    color: white;
    background-color: rgb(98, 192, 229);
  }
}

#popup-contact-bas {
  display: none;
  justify-content: center;
  height: 70px;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  font-size: 30px;
  z-index: 100;
  background-color: rgb(98, 192, 229);

  .popup-contactGauche {
    margin-right: 10px;
    display: flex;
    align-items: center;

  }

  .popup-contactDroite {
    display: flex;
    align-items: center;

    a {
      padding: 10px 20px 10px 20px;
      background-color: white;
      border-radius: 5px;
      text-decoration: none;
      color: rgb(98, 192, 229);

    }
  }

}

#caseAcceptation {
  border: 1px solid black;
}

@media all and (min-width: 768px) and (max-width: 1366px) {
  .main-contact .titreContact h1 {
    font-size: 40px;
  }

  .main-contact {
    margin-left: 15%;
    margin-RIGHT: 15%;
    font-size: large;
  }

  #popup-contact-bas {
    height: 55px;
    font-size: medium;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .main-contact .titreContact h1 {
    font-size: 40px;
  }

  .main-contact {
    margin-left: 5%;
    margin-RIGHT: 5%;
    font-size: medium;
  }

  #popup-contact-bas {
    font-size: small;
    height: 45px;
  }
}
