.imageInfoGeneralesInfoPratique {
    background-image: url(/assets/images/infoPratiques/presentation.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.imageseGuider1InfoPratique {
    background-image: url(/assets/images/infoPratiques/carteVeloHDF.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageHebergementsInfoPratique {
    background-image: url(/assets/images/infoPratiques/oudormir.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageService1InfoPratique {
    background-image: url(/assets/images/infoPratiques/louervelo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageOrganisationInfoPratique {
    background-image: url(/assets/images/infoPratiques/organiser.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imagePratique1InfoPratique {
    background-image: url(/assets/images/infoPratiques/faq.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imagePratique2InfoPratique {
    background-image: url(/assets/images/infoPratiques/lillegare-blog.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageseGuider2InfoPratique {
    background-image: url(/assets/images/infoPratiques/gps.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageService2InfoPratique {
    background-image: url(/assets/images/infoPratiques/porte-velo.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageService3InfoPratique {
    background-image: url(/assets/images/infoPratiques/transfert.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageService4InfoPratique {
    background-image: url(/assets/images/eurovelo-logo/32114475218_076e0ba288_o.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageTemoignagesInfoPratique {
    background-image: url(/assets/images/infoPratiques/VisiteVelodejour_H0001.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageActualites1InfoPratique {
    background-image: url(/assets/images/infoPratiques/amenagement.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imagePratique3InfoPratique {
    background-image: url(/assets/images/infoPratiques/signalement_avec_logo.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imageActualites2InfoPratique {
    background-image: url(/assets/images/infoPratiques/infos-travaux.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imagePratique4InfoPratique {
    background-image: url(/assets/images/infoPratiques/utileSurPlace.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.imagePratique5InfoPratique {
    background-image: url(/assets/images/infoPratiques/itineraires-connectes.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.mainInfoPratique {
    padding-top: 10%;
}

.h1InfoPratique {
    text-align: center;
    font-size: 50px;
}

.sectionInfoPratique {
    width: 100%;
    margin-top: 5%;
}

.container1InfoPratique {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    gap: 20px;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

.box7InfoPratique {
    grid-column: 1 / 3;
}

.box8InfoPratique {
    grid-column: 3 / 4;
}

.coeurInfoPratique {
    position: relative;
    left: 88%;
    top: -2%;
}

.coeur2InfoPratique {
    position: relative;
    left: 88%;
    top: 8%
}

.texteInfoPratique {
    text-align: center;
    position: relative;
    top: 6%;
    left: 30%;
    border: solid orange;
    background-color: orange;
    color: white;
    font-weight: bold;
    width: 40%;

}

.texte3InfoPratique {
    text-align: center;
    position: relative;
    top: 6%;
    left: 30%;
    border: solid orange;
    background-color: orange;
    color: white;
    font-weight: bold;
    width: 45%;
    z-index: 1;
}

.texte2InfoPratique {
    text-align: center;
    position: relative;
    top: -2%;
    left: 40%;
    border: solid orange;
    background-color: orange;
    color: white;
    font-weight: bold;
    width: 20%;
}

.h2InfoPratique {
    color: white;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    position: relative;
    top: 50%;
    z-index: 2
    ;
}

.h2InfoPratique2 {
    color: white;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    position: relative;
    top: 50%;
}

#quiSommeNousInfoPratique {
    margin-bottom: 20%;
}

#hautNavMention {
    color: black;
}

#lienPersoNavMention a {
    color: black;
}

.blur-image {
    filter: blur(5px);
  }