.imageInfoGeneralesInfoPratique {
    background-image: url(/assets/images/infoPratiques/infoPratique1.jpg);
}

.imageseGuider1InfoPratique {
    background-image: url(/assets/images/infoPratiques/infoPratique2.jpg);
}

.imageHebergementsInfoPratique {
    background-image: url(/assets/images/infoPratiques/infoPratique1.jpg);
}

.imageService1InfoPratique {
    background-image: url(/assets/images/infoPratiques/infoPratique2.jpg);
}